@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

